.registration-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ea580c;
}
.submit-button {
  background-color: #ea580c;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 10px;
}
.form-control {
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfb;
  border-radius: 10px;
}
.label {
  align-self: flex-start;
  color: #475569;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.input-field {
  height: 32px;
  width: 300px;
  border: 1px solid #9aa5b1;
  border-radius: 5px;
  outline-color: #ff0b37;
}
.error-msg {
  align-self: flex-start;
  font-size: 12px;
  font-weight: bold;
  color: #ff0b37;
}
